<div class="b-article">
  <h1><%= @page.title %></h1>
  <h3>Actions</h3>
  <div class="b-article__actions"></div>
    <a href="<%= url_for(:action => :edit) %>">Edit</a>
    <a href="<%= url_for(:action => :delete) %>">Delete</a>
    <a href="<%= url_for(:action => :add) %>">Add subpage</a>
  </div>

  <h3>Content</h3>
  <div class="b-article__content">
    <%= raw nl2br page_content_as_html @page.content %>
  </div>
</div>
<h3>Children</h3>
<%= tree_as_html(@pages) %>
<%= render 'wiki/nav' %>